@import "tailwindcss";
 
:root {
  --color-primary: #BDE4A7;
  --color-bg: #BDE4A7; 
}


.dark {
  --color-primary: #FFFD98;
  --color-bg: #FFFD98;   
  
}

body {
  background-color: var(--color-bg);
}